# Objects and Data Structures Assessment Test

## Test your knowledge.

** Answer the following questions **

Write a brief description of all the following Object Types and Data Structures we've learned about:



Numbers: Numeric types for arithmetic: integers and floating-point numbers.
  
Strings:Immutable sequences of characters for text representation.

Lists: Mutable sequences for storing collections of items.

Tuples: Immutable sequences for fixed collections of items.

Dictionaries: Key-value pairs for fast lookups and data storage.

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [57]:
print((10025*10)/(10)**3+2-2)

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    ans-->44
    What is the value of the expression 4 * 6 + 5
    ans-->29
    What is the value of the expression 4 + 6 * 5
    ans-->34

In [4]:
print(4 * (6 + 5))
print(4 * 6 + 5)
print(4 + 6 * 5)

44
29
34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>  
ans-->float

What would you use to find a numberâ€™s square root, as well as its square?

In [8]:
# Square root:
import math
print(math.sqrt(25))

5.0

In [13]:
# Square:
print(5**2)
# alternate method
print(math.pow(5, 2))

25
25.0

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [11]:
s = 'hello'
# Print out 'e' using indexing
s[1]

'e'

Reverse the string 'hello' using slicing:

In [14]:
s ='hello'
# Reverse the string using slicing
print(s[::-1])

olleh

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [16]:
s ='hello'
# Print out the 'o'

# Method 1:

print(s[4])

o
o

In [ ]:
# Method 2:
print(s[-1])

## Lists

Build this list [0,0,0] two separate ways.

In [17]:
# Method 1:
list1=[0]*3
print(list1)

[0, 0, 0]

In [18]:
# Method 2:
list2=[0,0,0]
print(list2)

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [27]:
list3 = [1,2,[3,4,'hello']]
list3[2][2]='goodbye'
list3

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [28]:
list4 = [5,3,4,6,1]
list4.sort()
list4

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [31]:
d = {'simple_key':'hello'}
# Grab 'hello'
print(d['simple_key'])

hello

In [37]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
print(d['k1']['k2'])

hello

In [42]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
print(d['k1'][0]['nest_key'][1][0])

hello

In [46]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

In [49]:
print(d['k1'][2]['k2'][1]['tough'][2][0])

hello

Can you sort a dictionary? Why or why not?<br><br>
ans-->dictionaries themselves are not inherently sorted. However, we can sort the items of a dictionary by its keys or values.

## Tuples

What is the major difference between tuples and lists?<br><br>
ans-->Lists are mutable
Tuples are immutable.

How do you create a tuple?<br><br>
ans-->Wecan create a tuple in Python by placing a comma-separated sequence of elements inside parentheses ().

## Sets

What is unique about a set?<br><br>
ans--> They are unordered collection of unique elements and they don't have any indexing

Use a set to find the unique values of the list below:

In [50]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
print(set(list5))

{1, 2, 33, 4, 3, 11, 22}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [51]:
# Answer before running cell-->False
2 > 3

False

In [52]:
# Answer before running cell-->False
3 <= 2

False

In [53]:
# Answer before running cell-->False
3 == 2.0

False

In [54]:
# Answer before running cell-->True
3.0 == 3

True

In [55]:
# Answer before running cell-->False
4**0.5 != 2

False

Final Question: What is the boolean output of the cell block below?

In [56]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?-->False
l_one[2][0] >= l_two[2]['k1']

False

## Great Job on your first assessment!